<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
<!-- Main -->
    <main>

        <div class="container-fluid" id="info">
            <div class="row">
                <div class="col-md-3 text-center">
                    <h2 class="p-4">Resources</h2>
                </div>
                <div class="col-md-9">
                    <p class="p-4">
                        See below for our favorite resources for all things software engineering.
                    </p> 
                    <h4 class="p-4">
                        <span>
                        Any resources you'd like to <a href="/resources/new" id="resourceBtn">share?</a></span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="card-columns">
            <div class="card">
              <img class="card-img-top" src="photos/code.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title that wraps to a new line</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="card p-3">
              <blockquote class="blockquote mb-0 card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <img class="card-img-top" src="photos/computer.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card bg-primary text-white text-center p-3">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                <footer class="blockquote-footer">
                  <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img" src="photos/code2.jpg" alt="Card image">
            </div>
            <div class="card p-3 text-right">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>


        <div>
            <h1>User Resources</h1>
            <% resource.forEach(resource => { %>
            <h4>
                <a href="/resources/<%= resource._id %>">
                <%= resource.name %>
            </a>
            </h4>

            <form style="display: inline;" action="/resources/<%= resource._id %>?_method=DELETE" method="POST">
                <button class="button btn mb-2 mt-2" type="submit">Delete</button>
            </form>
  
            <a href="/resources/<%= resource._id %>/edit">
                <button class="button btn mb-2 mt-2">Edit</button>
            </a>

            <% }) %>
        </div>



    </main>

<%- include('../partials/footer') %>
<%- include('../partials/plugins') %>
</body>
</html>