<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
<!-- Main -->
    <main>

        <div class="container-fluid" id="info">
            <div class="row">
                <div class="col-md-3 text-center">
                    <h2 class="p-4">Resources</h2>
                </div>
                <div class="col-md-9">
                    <p class="p-4">
                        See below for our favorite resources for all things software engineering.
                    </p> 
                    <h4 class="p-4">
                        <span>
                        Any resources you'd like to <a href="/resources/new" id="resourceBtn">share?</a></span>
                    </h4>
                </div>
            </div>
        </div>

        <div>
            <h1>User Resources</h1>
            <% resource.forEach(resource => { %>
            <h4>
                <a href="/resources/<%= resource._id %>">
                <%= resource.name %>
            </a>
            </h4>

            <form style="display: inline;" action="/resources/<%= resource._id %>?_method=DELETE" method="POST">
                <button class="button btn mb-2 mt-2" type="submit">Delete</button>
            </form>
  
            <a href="/resources/<%= resource._id %>/edit">
                <button class="button btn mb-2 mt-2">Edit</button>
            </a>

            <% }) %>
        </div>



    </main>

<%- include('../partials/footer') %>
<%- include('../partials/plugins') %>
</body>
</html>