<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
<!-- Main -->
    <main>

        <!-- Resource Message -->
        <div class="container-fluid vh-100" id="info">
            <div class="row">
                <div class="col-md-3 text-center">
                    <h2 class="p-4"><%= resource.name %></h2>
                </div>
                <div class="col-md-9">
                    <p class="p-4">
                      <%= resource.description %> 
                    </p> 
                    <form style="display: inline;" action="/resources/<%= resource._id %>?_method=DELETE" method="POST">
                      <button class="button btn mb-2 mt-2" type="submit">Delete</button>
                  </form>
            
                  <a href="/resources/<%= resource._id %>/edit">
                      <button class="button btn mb-2 mt-2">Edit</button>
                  </a>
                    
                </div>
            </div>
        </div>
        
</main>
        <%- include('../partials/footer') %>
        <%- include('../partials/plugins') %>
        </body>
        </html>