<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
<!-- Main -->
    <main>


        <h4>
          <%= resource.name %>
        </h4> 
        <p>
          <%= resource.description %>
        </p>
        
</main>
        <%- include('../partials/footer') %>
        <%- include('../partials/plugins') %>
        </body>
        </html>