<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
<!-- Main -->
    <main>
        <div class="d-flex justify-content-center">
            <div class="container mt-5 mb-3">
                <h1 class="network">
                    Meet your network!
                </h1>  
            </div>
        </div>

        <!-- Network users -->
        <div class="container-fluid mb-5">
            <% user.forEach(user => { %> 
            <div class="networkUser container mb-3">
                <div class="row ml-5">
                    <div class="col-4 text-center">
                        <img class="rounded-circle" src="photos/code.jpg" alt="image" width="180" height="180">
                    </div>
                    <div class="col-2">
                        <h2><%= user.name %></h2>
                        <p><%= user.profession %></p>
                        <p><a class="button btn" href="network/<%= user._id %>" role="button">View profile »</a></p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>

</main>

<%- include('../partials/footer') %>
<%- include('../partials/plugins') %>
</body>
</html>